{{ "<!-- Footer Start -->" | safeHTML }}
<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
		    <h3>{{ .Site.Params.footerAboutTitle }}</h3>
		    {{ with .Site.Params.footerDescription }}<a href="{{ . }}">me@dave.dev</a>{{ end }}
		</div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>{{ .Site.Params.footerServiceTitle }}</h3>
                    <div class="social-icon">
                    <ul class="list-inline social-icon">
                        {{ with .Site.Params.contact.facebook }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-facebook"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.twitter }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-twitter"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.linkedin }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-linkedin"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.dribbble }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-dribbble"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.instagram }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-instagram"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.github1 }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-github"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.github2 }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-github"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.github3 }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-github"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.dockerhub }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-code-download"></i>
                            </a>
                        </li>
                        {{ end }}

                    </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Treat the Author</h3>
		        <a href="https://www.buymeacoffee.com/ipengineer"><img border="0" alt="Buy me a coffee!" src="/images/bmac.png"></a>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Copyright</h3>
                    <p><font color=#ff813f>{{ .Site.Params.copyright }}</font></p>
                </div>
            </div>
        </div>
    </div>
</footer>
{{ "<!-- end footer -->" | safeHTML }}



