{{ "<!-- Footer Start -->" | safeHTML }}
<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
		    <h3>{{ .Site.Params.footerAboutTitle }}</h3>
		    <p>Software engineering insights, architecture patterns, and practical development wisdom.</p>
		    {{ with .Site.Params.footerDescription }}<a href="{{ . }}">me@dave.dev</a>{{ end }}
		</div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h3>{{ .Site.Params.footerServiceTitle }}</h3>
                    <div class="social-icon">
                    <ul class="list-inline social-icon">
                        {{ with .Site.Params.contact.facebook }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-facebook"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.twitter }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-twitter"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.linkedin }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-linkedin"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.dribbble }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-dribbble"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.instagram }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-instagram"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.github1 }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-github"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.github2 }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-github"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.github3 }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-github"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.dockerhub }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-code-download"></i>
                            </a>
                        </li>
                        {{ end }}

                    </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h3>Support</h3>
                    <p style="margin-bottom: 16px;">Enjoying the content? Consider supporting my work!</p>
		        <a href="https://www.buymeacoffee.com/davedotdev" style="display: inline-block;">
		            <img border="0" alt="Buy me a coffee!" src="/images/bmac.png" style="height: 40px; border-radius: 8px; transition: transform 0.3s ease;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
		        </a>
                </div>

                <!-- Script imports from front matter for React app modules -->
                {{ .Params.scripts }}
                {{ if isset .Params "scripts" }}
                {{ range .Params.scripts }}
                    {{ $app := resources.Get . | babel  }}
                    <script src="{{ $app.RelPermalink }}"></script>
                {{ end }}
                {{ end }}
                <!-- Script imports like React end-->

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p style="margin: 0; color: #888;">
                        <font color=#ff813f>{{ .Site.Params.copyright }}</font>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
{{ "<!-- end footer -->" | safeHTML }}



