{{ if .Site.Params.hero.enable }}
{{ "<!-- Hero Area -->" | safeHTML }}
<section class="hero-area">
    <div class="container">

        <div class="row">
                <div class="col-lg-8 text-center mx-auto">
                    <div class="position-relative">
                        <input id="autocomplete" class="form-control" placeholder="{{ .Site.Params.banner.placeholder }}">
        
                        <!-- Javascript -->
                        {{ $currentNode := . }}
                        {{ $currentNode.Scratch.Set "pages" .Site.RegularPages }}
                        {{ $pages := ($currentNode.Scratch.Get "pages") }}
                        <script>
                            $(function() {
                            var projects = [
                                {{ range $pages }}
                                {
                                    value: "{{ .Title }}",
                                    label: "{{range.Params.Tags}}<p>{{.}}</p>{{end}}",
                                    url:"{{ .Permalink }}"
                                },
                                {{ end }}
                            ];
                            $( "#autocomplete" ).autocomplete({
                                source: projects
                            })
                            .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                                return $( "<li>" )
                                .append( "<a href=" + item.url + " + \" &quot;\" +  >" + item.value + "</a>" + item.label )
                                .appendTo( ul );
                            };
                            });
                        </script>
                    </div>
                </div>
            </div>

    </div>
</section>
{{ end }}
