{{ define "main" }}



{{ "<!-- React & JSX -->" | safeHTML }}
<script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>

<section class="blog-single section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <img src="{{ with .Params.image }}{{ . | absURL }}{{ end }}" class="w-100 mb-3" alt="Post-Image">
                <h2>{{ .Title }}</h2>
                <div class="post-meta">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span>By</span>
                            <font color=#ff813f>{{ .Params.author }}</font>
                        </li>
                        <li class="list-inline-item">
                            <span>at</span>
                            <span><font color=#ff813f>{{ .Date.Format .Site.Params.dateFormat }}</font></span>
                        </li>
                    </ul>
                </div>
                {{ .Content }}


                
        <p><i><b>{{ .Params.signoff }}</b></i></p>
        <p><a href="https://buymeacoffee.com/davedotdev">Say thanks and buy me a coffee!</a></p>
    
        <ul class="list-inline">
            <li>
                <span>Tags:</span>
                <span><font color=#ff813f>{{ with .Params.tags }}{{ delimit . ", " }}{{end}}</font></span>
            </li>
            <li>
                <span>Categories:</span>
                <span><font color=#ff813f>{{ with .Params.categories }}{{ delimit . ", " }}{{end}}</font></span>
            </li>
        </ul>
            </div>
        </div>
    </div>
</section>

{{ end }}
